#define IDB_RAEDITBUTTON				100
#define IDC_HSPLITTCUR					101
#define IDB_BOOKMARK					102
#define IDC_SELECTCUR					103
#define IDB_LINENUMBER					104
#define IDB_EXPAND						105
#define IDB_COLLAPSE					106
#define IDB_LOCK						107

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE 0x00, 0x00 // LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1251)
IDB_RAEDITBUTTON		BITMAP   DISCARDABLE "Res/Button.bmp"
IDC_HSPLITTCUR			CURSOR   DISCARDABLE "Res/SplitH.cur"
IDB_BOOKMARK			BITMAP   DISCARDABLE "Res/Bookmark.bmp"
IDC_SELECTCUR			CURSOR   DISCARDABLE "Res/Select.cur"
IDB_LINENUMBER			BITMAP   DISCARDABLE "Res/Linenumber.bmp"
IDB_EXPAND				BITMAP   DISCARDABLE "Res/Expand.bmp"
IDB_COLLAPSE			BITMAP   DISCARDABLE "Res/Collapse.bmp"
IDB_LOCK				BITMAP   DISCARDABLE "Res/Lock.bmp"
#endif    // Neutral resources
